In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('Churn_Modelling.csv')
# we will leave first few columns
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
#Convert categorical variables into numerical ones:
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

## Concatenate the Data Frames
X=pd.concat([X,geography,gender],axis=1)

## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [ ]:
# Split Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print(X.shape)
print(X_train.shape)
print(X_test.shape)
# Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

(10000, 11)
(8000, 11)
(2000, 11)

In [ ]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
#from keras.layers import Dropout

In [ ]:
classifier = Sequential()

# The first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))
# See with Relu as activation fnuction, we use 'he_uniform' as the weight initializer


# The second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu'))

# The output layer
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))
# See with Sigmoid as activation fnuction, we use 'glorot_uniform' as the weight initializer

In [ ]:
# Compiling the Neural Network
classifier.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Training NN
model_history=classifier.fit(X_train, y_train,validation_split=0.3, batch_size = 10, epochs = 10) # keep epochs=100

Epoch 1/10
560/560 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7786 - val_loss: 0.4761 - val_accuracy: 0.8054
Epoch 2/10
560/560 [==============================] - 1s 2ms/step - loss: 0.4505 - accuracy: 0.8150 - val_loss: 0.4428 - val_accuracy: 0.8092
Epoch 3/10
560/560 [==============================] - 1s 2ms/step - loss: 0.4258 - accuracy: 0.8189 - val_loss: 0.4290 - val_accuracy: 0.8125
Epoch 4/10
560/560 [==============================] - 1s 2ms/step - loss: 0.4137 - accuracy: 0.8246 - val_loss: 0.4205 - val_accuracy: 0.8196
Epoch 5/10
560/560 [==============================] - 1s 2ms/step - loss: 0.4034 - accuracy: 0.8296 - val_loss: 0.4128 - val_accuracy: 0.8271
Epoch 6/10
560/560 [==============================] - 1s 2ms/step - loss: 0.3932 - accuracy: 0.8377 - val_loss: 0.4056 - val_accuracy: 0.8325
Epoch 7/10
560/560 [==============================] - 1s 2ms/step - loss: 0.3828 - accuracy: 0.8402 - val_loss: 0.3952 - val_accuracy: 0.8346
Epoch 8/10
560/560 [==============================] - 1s 2ms/step - loss: 0.3710 - accuracy: 0.8502 - val_loss: 0.3862 - val_accuracy: 0.8408
Epoch 9/10
560/560 [==============================] - 1s 2ms/step - loss: 0.3625 - accuracy: 0.8529 - val_loss: 0.3799 - val_accuracy: 0.8413
Epoch 10/10
560/560 [==============================] - 1s 2ms/step - loss: 0.3560 - accuracy: 0.8580 - val_loss: 0.3759 - val_accuracy: 0.8417

In [ ]:
# Prediction
y_pred = classifier.predict(X_test)
print(y_pred)
y_pred = (y_pred > 0.5)

# Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix: \n",cm)
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

[[0.21503761]
 [0.35714272]
 [0.11118296]
 ...
 [0.11682335]
 [0.11503071]
 [0.11672086]]
Confusion Matrix:
 [[1523   72]
 [ 210  195]]

0.859